.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    border: 1px black solid;
}
.box{
    background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    gap: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.box input{
    width: 30%;
}
.box select{
    width: 30%;
}
.box button{
    width: 35%;
}
h2{
    cursor: grab; 
}